html, body {
	height: 100%;
	position: relative;
}

body {
	background-color: black; 
}

/*INTRO*/

video {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

#welcomevid {
	position: relative;
	width: 100%;
	height: auto;
	padding: 0;

}

.video-text {
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
	width: 100%;
	margin: 0;
	text-align: center;
	color: white;
	text-shadow: 0 0 30px #000;
	font-size: 40px;
}

.video-text h1 {
	font-size: 1.3em;
}

.video-text span {
	color: #33C3F0;
}

#scroll-button {
	transform: rotate(90deg);
	display: inline-block;
	text-decoration: none;
	transition: all 0.7s;
	color: #fff;
	height: 5px; 
	width: 5px; 
}

#scroll-button:hover {
	text-shadow: 0 0 20px rgba(89, 116, 99, 0.9);
	color: #85a18f;
}

.graphtext {
	padding: 50px; 
	text-align: center; 
}

#container {
	margin-left: 10em; 
	margin-right: 10em; 
}

footer {
	position: absolute;
	bottom: 0;
	left: 0; 
	width: 100%;
/*	height: 3.4em;
	margin-top: 1em;*/
	background-color: #eee; 


}

/*WORLD MAP*/
#world-map {
	margin: 1em;
	width: 50%;
	height: 15%;

}

#world-map-div {
	background-color: #00B8E6; 
	margin: 1em;
	border-radius: 150px; 
}


/*CHARTS*/									

#nasa-gif {
	height: 25em;
	width: 30em; 
	display: block;
}

p {
	color: #fff;
}

canvas {
	width: 20em;
	height: 20em;
	margin: 1em; 
}


#greenhouse-gas-text {
	width: 20em;
	height: 20em;
	float: left;
	margin: 1em; 
}

#usa-future-text {
	width: 20em;
	height: 20em;
	float: right;
	margin: 1em; 
}

/*50 STATES*/

.text {
	color: #fff;
}

h1 {
	color: #fff;
}

img {
	height: 10em;
	width: 10em;
	margin: 1em;
	display: inline;
}

.img-container {
	float:left;
	background-color: #fff; 
	margin: 1em;
	text-align: center; 
}

.attribution {
	position: absolute;
	bottom: 0;
}